[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
ipykernel = "*"
pandas = "*"
nbstripout = "*"
pip = "*"
requests = "*"
beautifulsoup4 = "*"
ebooklib = "*"
openai = "*"
python-dotenv = "*"
psycopg2-binary = "*"
undetected-chromedriver = "*"
pypdf2 = "*"
tiktoken = "*"
langchain = "*"
langchain-text-splitters = "*"

[dev-packages]

[requires]
python_version = "3.10"
